#img0 {
    object-position: center;
}

#img1 {
    object-position: center;
}

#img2 {
    object-position: bottom;
}

#img3 {
    object-position: center;
}

#img4 {
    object-position: center;
}

#img5 {
    object-position: center;
}

#img6 {
    object-position: center;
}

#img7 {
    object-position: center;
}